/*
 *= require twitter/bootstrap
 *= require permanent_marker
 *= require caesar_dressing
 *= require_self
 */

$bgColor: #D3360B;
$containerWidth: 940px;

#main-nav {
  .navbar-inner {
    background: $bgColor;

    .container {
      width: $containerWidth;
      padding: 40px 0px 25px 0px;

      .brand {
        display: block;
        width: 200px;
        height: 30px;
        background: url('/assets/railsgirls-logo.png') no-repeat;
        background-position: center;
        margin-right: 50px;
      }

      .nav {

        a {
          color: #ffffff;
          padding-top: 20px;
          text-decoration: none;
          font-weight: 300;
          font-size: 20px;
          letter-spacing: 1px;
          padding-left: 0px;

          &:after {
            margin-left: 15px;
            content: url(/assets/star.png);
          }
        }

        li:last-child {
          a:after {
            content: none;
          }
        }
      }
    }
  }
}

#content {
  margin-top: 3em;
}

.form-actions {
  background: transparent;
  border: none;
}

footer {
  margin-top: 50px;
  color: #666;
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
  background: #F4F4F4;
  line-height: 1.5;
  text-align: center;

  .slogan {
    font-size: 1.5em;
    letter-spacing: 0.5em;
  }
}

#attending {
  -moz-user-select: none;
  -webkit-user-select: none;
  div {
    font-size: 13em;
    font-weight: bold;
    color: #d3360b;
    margin: 120px 50px 100px 50px;
    font-weight: initial;
  }
}

.row.content > div {
  margin-top: 30px;
  border-top: 4px solid red;

  p {
    font-size: 17xp;
  }
}

.upcoming {
  overflow: auto;
  margin-bottom: 20px;
  display: block;
  border-color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #d3360b;

  img {
    float: left;
    margin-right: 15px;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #e0330c;
    line-height: 1.1;
    font-size: 21px;
  }

  span {
    color: #000;
    font-size: 70%;
  }
}

#caption {
  &.affix {
    top: 0px;
    background: -webkit-gradient(linear, 0% 0%, 0% 96%, from(#fff), to(#ccc)); 
    -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 3px;
  }

  font-family: 'Caesar Dressing', cursive;
  color: $bgColor;
  font-size: 80px;

  img {
    width: 80px;
    height: 80px;
    margin: 0 0px;
    vertical-align: -5px;
    margin-top: -10px;

    &.tutor {
      margin-left: 20px;
      margin-right: 30px;
    }
  }

  img.girl:nth-child(2) { margin-left: 10px; }
  img.girl:nth-child(3) { margin-left: 145px; }
  img.girl:nth-child(4) { margin-left: 145px; margin-right: 5px; }
}

#pairings {
  font-family: 'Caesar Dressing', cursive;
  margin: 40px 0;
  font-size: 30px;

  -moz-user-select: none;
  -webkit-user-select: none;

  td {
    cursor: pointer;
    padding: 20px 0px 10px 0px;

    &.tutor {
      width: 220px;

      span {
        margin-left: 40px !important;
      }
    }

    &.girl {
      text-align: center;
      span {
        color: lighten($bgColor, 20%) !important;
      }
    }

    span {
      width: 220px;
      margin-top: -15px;
      height: 50px;
      color: #666;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 50px;
    }
  }
}
