/*
 *= require_self
 *= require twitter/bootstrap
 */

$bgColor: #D3360B;
$containerWidth: 940px;


#main-nav {
  .navbar-inner {
    background: $bgColor;

    .container {
      width: $containerWidth;
      padding: 40px 0px 25px 0px;
      
      .brand {
        display: block;
        width: 200px;
        height: 30px;
        background: url('/assets/railsgirls-logo.png') no-repeat;
        background-position: center;
        margin-right: 50px;
      }

      .nav {

        a {
          color: #ffffff;
          padding-top: 20px;
          text-decoration: none;
          font-weight: 300;
          font-size: 20px;
          letter-spacing: 1px;
          padding-left: 0px;

          &:after {
            margin-left: 15px;
            content: url(/assets/star.png);
          }
        }

        li:last-child {
          a:after {
            content: none;
          }
        }
      }
    }
  }
}

#content {
  margin-top: 3em;
}

.form-actions {
  background: transparent;
  border: none;
}

footer {
  color: #666;
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
  background: #F4F4F4;
  line-height: 1.5;
  text-align: center;

  .slogan {
    font-size: 1.5em;
    letter-spacing: 0.5em;
  }
}

#attending {
  -moz-user-select: none;
  -webkit-user-select: none;
  div {
    font-size: 13em;
    font-weight: bold;
    color: #d3360b;
    margin: 120px 55px 100px 65px;
  }
}

.row.content > div {
  margin-top: 30px;
  border-top: 4px solid red;

  p {
    font-size: 17xp;
  }
}

.upcoming {
overflow: auto;
margin-bottom: 20px;
display: block;
border-color: #ccc;
text-decoration: none;
border-bottom: 1px dotted #d3360b;

img {
  float: left;
margin-right: 15px;
}

h5{
margin-top: 0;
margin-bottom: 20px;
color: #e0330c;
line-height: 1.1;
font-size: 21px;
}

span {
  color: #000;
font-size: 70%;
}
}

